<!-- Main Content -->
<div class=container>
    <div class='container-fluid'>
        <div class="row outerDiv">
            <div class="col">
                <div class="p-5 mb-4" style="text-align:center;">
                    <a href="/"><img style="margin-top:75px;" class="loginlogo d-none d-lg-block"
                            src="../../../Assets/images/team_logo.png" /></a>
                    <div class="container-fluid py-5">
                        <h1 class="fill fw-bold" style="text-align:center; color: white;">
                            COMP229 Web Application Development <br />
                            Group: Multiverse Design<br />
                            Project Title: Multiverse Design Surveys
                        </h1>
                        <br /><br />

                        <table style="text-align: left;color: white;">
                            <tbody>
                                <tr>
                                    <th>Short Description:</th>
                                    <td>&nbsp;&nbsp;&nbsp;This is an Online survey platform. User can register, login,
                                        create and submit survey.</td>
                                </tr>
                                <tr>
                                    <th>No of members:</th>
                                    <td>&nbsp;&nbsp;&nbsp;06</td>
                                </tr>
                                <tr>
                                    <th>Technologies:</th>
                                    <td>&nbsp;&nbsp;&nbsp;Nodejs, HTML, CSS, EJS, JavaScript and various packages</td>
                                </tr>
                                <tr>
                                    <th>Database:</th>
                                    <td>&nbsp;&nbsp;&nbsp;MongoDB</td>
                                </tr>
                                <tr>
                                    <th>Database Server:</th>
                                    <td> &nbsp;&nbsp;&nbsp;<a href="https://www.mongodb.com/cloud/atlas">MongoDb Atlas</a></td>
                                </tr>
                                <tr>
                                    <th>Cloud Deployment:</th>
                                    <td>&nbsp;&nbsp;&nbsp;<a href="https://www.heroku.com">Heroku</a></td>
                                </tr>
                                <tr>
                                    <th>Source Code:</th>
                                    <td> &nbsp;&nbsp;&nbsp;<a href="https://github.com/Fasop4/Multiverse-Design-Surveys">Multiverse Design Survyes Github</a></td>
                                </tr>
                                <tr>
                                    <th>Live URL:</th>
                                    <td> &nbsp;&nbsp;&nbsp;<a href="https://multiverse-survey.herokuapp.com/about/">Click Here</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>